:root {
  --font-size-body: 16px;
  --background-gradient-body: linear-gradient(
    to right,
    #fde4e5 0%,
    #cdfaf1 90%
  );
  --padding-content: 0 16px;
  --min-height-body: 100dvh;
  --height-content-detail: calc(100dvh - 140px);
  --max-width-content: 500px;
  --background-sticky-header: transparent;
  --background-switch-language: #6fc06f;
  --height-dropdown-trigger: 30px;
  --color-logo-app: #e11d48;
  --padding-result-shorter: 16px;
  --color-success-text: #15803d;
  --background-success: #dcfce7;
  --color-character-text: #64748b;
  --color-url-result: red;
  --color-url-result-hover: rgb(200, 47, 47);
  --color-border: gray;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  font-size: var(--font-size-body);
  min-height: var(--min-height-body);
  background-image: var(--background-gradient-body);
}

.sticky-header {
  position: sticky !important;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 !important;
  background-image: var(--background-gradient-body) !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ant-dropdown-trigger,
.ant-menu-horizontal {
  border: none !important;
}

.ant-dropdown-trigger {
  height: var(--height-dropdown-trigger);
  cursor: pointer;
}

.form-content {
  width: 100%;
  max-width: var(--max-width-content);
}

.content-detail {
  padding: var(--padding-content);
  min-height: var(--height-content-detail) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.width-100-per {
  width: 100%;
}

.switch-language {
  margin: 0 20px !important;
  margin-left: 0 !important;
  background-color: var(--background-switch-language) !important;
}

.logo-shorter-url {
  color: var(--color-logo-app);
  font-size: 21px;
  font-weight: 900;
  padding-left: 20px;
  cursor: pointer;
}

.skeleton-switch-lang {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: fit-content !important;
}

.result-shorter-url {
  width: 100%;
  max-width: calc(var(--max-width-content) - 2 * var(--padding-result-shorter));
  background-color: #fff;
  border-radius: 6px;
  padding: 16px;
  box-sizing: border-box !important;
  border: 0.01px dashed var(--color-border);
}

.message-success-shorter {
  padding: 16px;
  color: var(--color-success-text);
  background-color: var(--background-success);
  font-weight: 600;
  border-radius: 4px;
}

.ant-divider {
  margin: 16px 0 !important;
}

.url-result-shorted {
  color: var(--color-url-result);
  font-size: 14px;
  word-wrap: break-word;
  max-width: 439px;
}

.url-result-shorted:hover {
  color: var(--color-url-result-hover);
}

@media only screen and (max-width: 500px) {
  .url-result-shorted {
    max-width: calc(100vw - 64px);
  }
}

.count-character-number {
  font-weight: 600;
  color: var(--color-character-text);
  font-size: 14px;
}

.count-character-text {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-character-text);
}

#shorter-url-qrcode {
  max-width: 260px;
  margin: auto;
}

.banner-app {
  padding: 20px 0;
}

.cursor-pointer {
  cursor: pointer;
}
